.heading{
  text-align: center;
  margin-top: 1rem;
  margin-bottom: 1.5rem;
}
.imgPannel{
  height: 110px;
  width: 110px;
  object-fit: contain;
}

/* ---------------------- FOOTER -------------------------------------- */
.myfooter {
  background-color: black;
  color: white;
  width: 100%;
  height: 400px;
  font-size: 17px;
  padding: 25px;
  display: flex;
  justify-content: space-between;
  position: relative;
  bottom: 0;
  top: 300px;
}
.footer-widget {
  margin-left: 50px;
}
.Payement-SocielMedia {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
li a {
  text-decoration: none;
  color: white;
}
li {
  list-style: none;
}
@media screen and (max-width:1000px){
  .myfooter{
    font-size: 15px;
  }
}
@media screen and (max-width:910px){
  .myfooter{
    font-size: 12px;
  }
}
@media screen and (max-width:799px){
  .myfooter{
    font-size: 15px;
  }
  .displayN{
display: none;
  }
}
@media screen and (max-width:721px){
  .myfooter{
    font-size: 15px;
    margin-top: 1050px;
  }
  .displayN{
display: none;
  }
}
@media screen and (max-width:650px){
  .myfooter{
    font-size: 10px;
    height: 300px;
    overflow: hidden;
  }
  
}
.displayP{
display: none;}